body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(165, 161, 161);
}

.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
}

.splitLeft {
    left: 0;
}

.right {
    right: 0;
    background-color: rgb(110, 76, 129);
}

.centered {
    position: absolute;
    top: 0px;
    left: 23%;
    transform: translate(-50%, 50%);
    text-align: left;
    padding: 0px 6px;
}

.logo {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.header1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
    top: 20%;
    padding-top: 0px;
}

.label1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(104, 103, 103);
    position: absolute;
    right: inherit;
    left: 40%;
    top: 70%;
    padding-top: 95px;
}

.email {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(104, 103, 103);
    position: absolute;
    right: inherit;
    left: 0%;
    top: 85%;
    padding-top: 95px;
}

.email input {
    width: 100%;
    margin-bottom: 100px;
}

.email input[type="text"] {
    border-radius: dimgray 3mm;
    border-bottom: 1px solid rgb(253, 249, 249);
    background: rgb(250, 246, 246);
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    height: 40%;
    width: 100%;
    padding: 10px 70px;
    color: rgb(8, 8, 8);
    font-size: 16px;
    letter-spacing: 1px;
}

.password {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(104, 103, 103);
    position: absolute;
    right: inherit;
    left: 0%;
    top: 120%;
    padding-top: 120px;
}

.password input {
    width: 100%;
    margin-bottom: 100px;
}

.password input[type="text"] {
    border-radius: dimgray 3mm;
    border-bottom: 1px solid rgb(248, 243, 243);
    background: rgb(252, 250, 250);
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    height: 40%;
    width: 100%;
    padding: 10px 70px;
    color: rgb(8, 8, 8);
    font-size: 16px;
    letter-spacing: 1px;
}

.label2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(104, 103, 103);
    position: absolute;
    right: inherit;
    left: 0%;
    top: 150%;
    padding-top: 150px;
}

.button {
    position: absolute;
    right: inherit;
    left: 0%;
    top: 170%;
    padding-top: 170px;
}

.button button {
    height: 40%;
    width: 110%;
    padding: 10px 180px;
    border-radius: dimgray 3mm;
    border-bottom: 1px solid rgb(8, 8, 8);
    border: 1px solid #607d8b;
    outline: none;
    background: blue;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.link {
    position: absolute;
    right: inherit;
    left: 0%;
    top: 180%;
    padding-top: 180px;
}
